<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.martinpirklbauersv.apl">

    <!-- olika permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    "
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThirdActivity"
            android:label="ThirdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fourthActivity"
            android:label="fourthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".fifthActivity" />
        <activity android:name=".sixthActivity" />
        <activity android:name=".RegUsersActivity"
            android:label="RegUsersActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".UppdateUsersActivity"
            android:label="UppdateUsersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RemoveUsersActivity" />
        <activity
            android:name=".CalenderActivity"
            android:label="CalenderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".APLRegUsers" />
        <activity android:name=".CalenderReadActivity"
            android:label="CalenderReadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userListActivity"
            android:label="userListActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>